header h3{
    font-size: 100;
    background-color: blue;
    color: red;
}
header h1{
     font-size: 80;
    background-color: red;
    color: blue;
}
footer h2{
    font-size: 50;
    background-color: red;
    color: blue;
}
body{
    background-color: olive;
}